$font_family: 'arial';
$primary-color: #fff;
$secondary-color: #0414ae;
$blue-color: #2e4790;
$text-color:#0e14ee;

@import "partials/base";
@import "partials/header";
@import "partials/footer";










