$font_family: 'arial';
$primary-color: #fff;
$secondary-color: #ffe7d2;
$blue-color: #2e4790;
$text-color:#58402c;
$line-height-main: 60px;
$line-height-sub: 20px;
$titleweigth: bolder;
$subtitleweight: lighter;
$column: calc(100% / 8);

@mixin block-style {
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
}
@mixin wrapper{
    padding-left: 100px;  
    padding-right:100px;
 
}

@mixin block-flex {
    display: flex;
    flex-wrap: wrap; 
}

@mixin horizontal-block {
    display: flex;
    justify-content:space-between;
    
}

@mixin middle-title{
    font-weight: bold;
    text-align: center;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

@mixin textStyle{
    color: $text-color;
}

@mixin button{
    @include middle-title;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right:  auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-width: 100px;
    height: 30px;
    border-radius: 5px;
    font-size: smaller;
    line-height: 10px;
    &>img {
        max-width: 25px;
    }
    & >div{
        height: auto;
    }
}


/*-----------------------------*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:$font_family;
    list-style: none;
}

.hr{
     border-bottom: 1px solid $text-color;
     margin-top: 20px;
     margin-bottom: 20px;
}

img{
    width: 100%;
}

h1, h2, h3, li{
   @include textStyle;
   font-weight: $titleweigth;
   line-height: $line-height-main
}
h4, h5, h6, p {
    @include textStyle;
    font-weight: $subtitleweight;
    line-height: $line-height-sub
 }

.main-block{
    @include block-style;
    @include wrapper;
        &:nth-child(even){
            background: $primary-color
            }
        &:nth-child(odd){
            background: $secondary-color
            }
}

.header{ @include wrapper}


.menu {
    @include horizontal-block;
    & >li {
        margin-right: 20px;
       }   
}

.logo-container{
    display: flex;
    justify-content: center;
}

.flex{@include block-flex}

.block100{
    @include middle-title;
    margin-bottom: 60px;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    & img {
        width: 300px;
        height: auto;
        }
}

.block50{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 50%;
    & >*{
        margin-top: 20px;
    }
    
}

.ill-block{
    position: relative;
    width: 55%;
    & >*{
        margin-top: 10px;
    }
    & >img {
       width: 100%;
    }
}

.flex-end{
    align-self: flex-end;
}


.block33{
    width: 33,3%;
}

.block1-8{
    width: $column;
 }



.trioimgsBlock{
    @include block-flex;
    display: flex;
    justify-content: space-evenly;
    & img {
    width: auto;
    height: 100px;
    }
}
.text-box{
    font-size:smaller;
    font-weight: bold;
    padding: 30px;
    line-height: normal;
    width: 50%;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    border: 1px solid $blue-color;
    border-radius: 20px;
    &> img{
        margin-right: 10px;
        height: 40px;
        width:auto
    }

}

.buttonB{
    @include button;
    background-color: $blue-color;
    color: white;
    width: 130px
}

.buttons-block{
    @include block-flex;
    text-align: center;
    font-size: smaller;
    width: 330px;
    align-items: center;
}
.buttonW{
    @include button; 
    background-color: white;
    color: $blue-color;
    border: 1px solid $blue-color;
    width: 100px;    
}

.footer{
    @include block-style;
    @include wrapper;
    & img{
        height: 100%;
        max-width: 40px;
        margin-right: 10px;
    }
    & >div {
        display: flex;
        flex-wrap: nowrap;
    }
}
.first-col{
    height: 60px;
    width: 30%;
}

.col{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    min-width: $column
}
